*.tar.gz
/Makefile.in
Makefile
__pycache__
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
nfa_defaults.py
nfa_version.py
compile
config.guess
config.sub
depcomp
libtool
ltmain.sh
